body{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Sukhumvit;
    src: url(fonts/SukhumvitSet-Light.ttf)
}
@font-face {
    font-family: Thonburi;
    src: url(fonts/Thonburi.otf);
}
@font-face {
    font-family: Nithan;
    src: url(fonts/Nithan.otf);
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #282e34;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3; 
}
.head_cont{
    position: relative;
    top: 45%;
    text-shadow: 2px 3px #505050;
    font-family: Sukhumvit;
    font-weight: bold;
    font-size: 5vw;
    color: #303030;
    margin: 0px;
    top: 45px;
}
.txt_cont{
    position: relative;
    text-shadow: 2px 3px #505050;
    font-family: Sukhumvit;
    font-weight: bold;
    font-size: 2vw;
    color: #303030;
}
.modal {
   display: none;
   position: fixed;
   width: 100%;
   height: 100%;
   z-index: 1;
}

.modal-fade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 1;
}

.modal-wrapper {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    width: 60vw;
    height: auto;
    background-color: rgba(30, 30, 30, 0.5);
    padding: 15px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    font-family: Sukhumvit;
    font-size: 18px;
    color: white;
}
.modal-head {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-head:hover,
.modal-head:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.nav {
    font-family: Sukhumvit;
    overflow: hidden;
    background-color: rgba(40, 46, 52, 0.33);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
li{
    display: inline;
}
.nav a{
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
.nav a:hover {
    background-color: #ddd!important;
    text-shadow: 0px 0px #505050;
    color: black;
}
.nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #fff;

  position: relative;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.nav a:hover::before {
  width: 100%;
}

.cur{
    background-color: rgba(30, 30, 30, 0.33);
}

#logo{
    width: 50px;
    height: 50px;
    float: left;
    margin-left:5px;
    margin-right:5px;
    margin-top: 5px;
    margin-bottom: 0px
}

#paragraph_pic{
    width: 16vw;
    height: auto;
    margin: auto auto;
    margin-top: 3%;
    margin-bottom: 3%;
    display: block;
}

#paragraph_pic2{
    width: 800px;
    height: auto;
    margin: auto auto;
    margin-top: -1%;
    margin-bottom: -1%;
    display: block;
}

#box1{
    height: 105vh;
    width: 100%;
    background-image: url(img/img1_e.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
    text-align: center;
}
#box2{
    height: 105vh;
    width: 100%;
    background-image: url(img/img4_e.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
#box3{
    height: 105vh;
    width: 100%;
    background-image: url(img/img5_e.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
    text-align: center;
}
#box4{
    height: 105vh;
    width: 100%;
    background-image: url(img/img6_e.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
    text-align: center;
}
#box5{
    height: 105vh;
    width: 100%;
    background-image: url(img/img7_e.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
    text-align: center;
}
#box6{
    height: 105vh;
    width: 100%;
    background-image: url(img/img8_e.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
    text-align: center;
}
#box7{
    height: 105vh;
    width: 100%;
    background-image: url(img/img9_e.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
    text-align: center;
}
#box8{
    height: 105vh;
    width: 100%;
    background-image: url(img/img10_e.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
    text-align: center;
}

#cont_test{
    height: 105vh;
    width: 100%;
    text-align: left;
}

.con{
    position: relative;
    height: 100%;
    margin: 0;
}
.over{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.67s ease;
    background-color: rgba(0, 0, 0, 0.67);
    background-image: url(img/bg2.png);
}
.txt{
    position: absolute;
}

#fx{
    font-size: 10vw;
    text-shadow: 3px 3px #303030;
    display: block;
    animation: sc 8s infinite;
}

@keyframes sc{
    0%   {transform: scale(0.9, 0.9);}
    50%  {transform: scale(1, 1);}
    100% {transform: scale(0.9, 0.9);}
}

.head{
    position: relative;
    top: 45%;
    text-shadow: 2px 3px #505050;
    font-family: Sukhumvit;
    font-weight: bold;
    font-size: 8vw;
    color:white;
    margin: 0px;
    transition: 0.33s ease;
}

.txt{
    position: relative;
    font-family: Sukhumvit;
    top: 40%;
    text-shadow: 2px 3px #505050;
    font-size: 40px;
    color:white;
    margin: 0px;
    vertical-align: middle;
}

a{
    position: relative;
    font-family: Sukhumvit;
    font-size: 3vw;
    color:white;
    margin: 0px;
    text-decoration: none;
}

.txt:hover{
    font-size: 3.33vw;
    text-decoration: underline;
}
.con:hover .over{
    transition-delay: 0.67s;
    opacity: 1;
}
.con:hover .head{
    transition-delay: 0.67s;
    opacity: 0;
}

.ban{
    background-image: url(img/img11_e2.jpg);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.his-con{
    display: block;
    background-color: white;
    width: 90vw;
    height: auto;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.67);
    margin-top: 15%;
    margin-left: 5vw;
    position: absolute;
}
.his-con h1{
    text-align: center;
    /*font-family: Nithan;*/
    /*font-family: Sukhumvit;*/
    font-family: 'Pridi', serif;
}
.his-con p{
    padding: 3%;
    /*font-family: Nithan;*/
    font-family: 'Pridi', serif;
    font-size: 1.5em;
}
.map-res{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-res iframe{
    left:10%;
    height:80%;
    width:80%;
    position:absolute;
}